.index-container {
  color: white;
  margin: 30px 100px;

  h1 {
    display: flex;
    justify-content: center;
    font-size: 96px;
  }

  .x-channel-form {
    background-color: #2e2e2e00 !important;
  }

  .channels-info {
    border-radius: 28px;
    box-shadow: 0px 0px 108.5px -13px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    flex-shrink: 0;

    .btn {
      width: 90px;
      align-items: center !important;
    }
  }

  .headings-channels {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  button {
    border-radius: 13px;
    display: flex;
    background: var(--third-colour, #E67447);
    justify-content: center;
  }
  .form-and-button {
    // margin: 100px;
    display: flex;
    justify-content: center;
    padding: 12px;
    font-size: 20px;

    // button {
    //   display: flex;
    //   justify-content: center;
    // }
  }
  .channels-info {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

}
  .card-product-infos {
    width: 900px;
  }
  .modal-content   {
    background-color: #2E2E2E;
    color: white;
    font-size: 20px;
    border-radius: 28px;
  }
  .create-post {
    color: white;
  }



.show-container {
  margin: 30px 100px;
  h1 {
    color: white;
  }
  .x-channel-form {
    background-color: #2e2e2e00 !important;
  }
  .posts-info {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .post-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .posts-info {
    border-radius: 28px;
    box-shadow: 0px 0px 108.5px -13px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    flex-shrink: 0;

    .btn {
      width: 90px;
      align-items: center !important;
    }
  }
  .post-channels {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .post-product-infos {
    width: 675px;
    color: white;
  }
  .modal-content   {
    background-color: #2E2E2E;
    color: white;
    font-size: 20px;
  }
  button {
    border-radius: 13px;
    display: flex;
    background: var(--third-colour, #E67447);
    justify-content: center;
  }
  .posts-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    img {
      border-radius: 28px;
      box-shadow: 0px 0px 108.5px -13px rgba(0, 0, 0, 0.25);
    }
  }
}

.form-and-button {
  // margin: 100px;
  padding: 12px;
  font-size: 20px;

  button {
    display: flex;
    justify-content: center;
  }
}

.card-product {
  display: flex;
  width: 100%;
  justify-content: space-between;
  img {
    border-radius: 20px;
    box-shadow: 0px 0px 108.5px -13px rgba(0, 0, 0, 0.25);

  }
}
