.chart-wrapper {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 1350px !important;
  margin: auto;
  display: flex;
  justify-content: center;
}

.chart-container canvas {
  display: block;
  background-color: #393939;
  width: 100%;
  width: 1350px !important;
  border-radius: 28px;
}

body {
  background-color: #2e2e2e;
}

.transaction-actions {
  color: #ffff;
  margin-left: 20px;
}

.form-column {
  width: 8%;
  display: inline-block;
  box-sizing: border-box;
}

.btn-buy {
  background-color: #98F899;
  color: #393939;
  width: 118px;
  height: 50px;
  font-size: 25px;
  font-style: bold;
}

.btn-buy:hover {
  background-color: #3C633D;
  color: #393939;
}

.btn-sell {
  background-color: #E83838;
  color: #393939;
  width: 118px;
  height: 50px;
  font-size: 25px;
  font-style: bold;
}

.btn-sell:hover {
  background-color: #901111;
  color: #393939;
}
