<h1>Latest News</h1>

<div id="news-container">
  <% @news.each do |article| %>
    <div class="article">
      <h2><%= article['title'] %></h2>
      <p><%= article['description'] %></p>
      <%= link_to 'Read More', news_path(id: article['title'].parameterize) %>
    </div>
  <% end %>
</div>
