
<h1>Football News</h1>

<div class="news-container">
  <% @news.each do |article| %>
    <div class="news-article">
      <img src="<%= article[:image_url] %>" alt="<%= article[:title] %> Image">
      <h2><%= article[:title] %></h2>
      <p><%= article[:description] %></p>
    </div>
  <% end %>
</div>
