<!-- app/views/news/show.html.erb -->
<div class="news-show-container">
  <div class="news-article-image">
    <img src="<%= @article[:image_url] %>" alt="<%= @article[:title] %> Image">
  </div>
  <div class="article-show-info">
    <h2><%= @article[:title] %></h2>
    <p><%= @article[:content] %></p>
  </div>
</div>
