
.user-title {
  h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    // padding-left: 60px;
    // padding-right: 60px;
    // padding-top: 60px;
    background-color: #393939;
    width: fit-content;
    margin-left: 45px;
    padding: 33px;
    box-shadow: 0px 2px 50.1px -5px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
  }
}

.investment-name {
  width: 200px;
}
.investment-price {
  width: 150px;
  text-align: center;
}

.dashboard-container {

  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  // background-color: #393939;
  // box-shadow: 0px 2px 50.1px -5px rgba(0, 0, 0, 0.25);
  // border-radius: 28px;
  // margin: 50px;

  .portfolio-change {
    font-size: 40px;
  }

  .investments-container {
    margin-top: 50px;
  }

  .news-container {
    margin-top: 50px;
  }

  h2 {
    color: white;
  }

  span {
    color: white;
  }

  .balance-amount {
    font-size: 180px;
    font-weight: 700;
  }

  .balance-change {
    color: #98F899;
    // margin-top: 45px;
    font-size: 40px;
    font-weight: 700;
  }

  .balance-info {
    display: flex;
    flex-direction: column;
  }

  // .balance-actions {
  //   button {
  //     border-radius: 50%;
  //     padding-left: 35px;
  //     padding-right: 34px;
  //     padding-bottom: 5px;
  //     padding-top: 0px;
  //     background-color: transparent;
  //   }

  //   #refill {
  //     border: 3px solid #C7C9CC;
  //     font-size: 26px;
  //     color: #C7C9CC;
  //   }

  // }

  .holdings-chart {
    padding: 15px;
    margin-top: 50px;
    border: 1px solid rgb(238, 238, 238) 175;
    border-radius: 28px;
    width: 100%;
    height: 400px;
    background-color: #393939;
    position: relative;
    overflow: hidden;
  }

  .chart-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #holding-chart {
    border-radius: 8px;
    background-color: #393939;
    max-width: 100%;
    max-height: 100%;
  }

  .investments-card {
    border-bottom: 1px solid #8E8E8E;
    color: white;
    width: 85%;
    padding-top: 10px;
  }

  .investment-titles {
    color: #8E8E8E;
    width: 85%;
  }

  .investments {
    h2 {
      margin-bottom: 20px;
    }
  }
}
