// @keyframes gradientBackground {
//   0% {
//     background-position: 0% 0%;
//   }
//   50% {
//     background-position: 100% 100%;
//   }
//   100% {
//     background-position: 0% 0%;
//   }
// }

// body::before {
//   content: '';
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;

//   background: linear-gradient(0deg,
//     #2E2E2E 0%,      /* Start of grey */
//     #4A5759 20%,     /* Start blending into grey-green */
//     #98F899 40%,     /* Middle color (green) */
//     #4A5759 60%,     /* Start blending back into grey-green */
//     #393939 80%,     /* Start of dark grey */
//     #393939 100%     /* End color (dark grey) */
//   );
//   background-size: 200% 200%;
//   animation: gradientBackground 12s ease infinite;
//   filter: blur(900px); /* Significantly increased blur effect */
// }

// body {
//   position: relative; /* Needed for correct positioning of the pseudo-element */
// }

// body {
//   position: relative; /* Needed for correct positioning of the pseudo-element */
// }

// body {
//   position: relative; /* Needed for correct positioning of the pseudo-element */
// }


.middlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 82px);
}

.login {
  width: 500px !important;
  margin: auto;
  background-color: rgba(64, 64, 64, 0.8);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 2px 50.1px -5px rgba(0, 0, 0, 0.25);

  .btn {
    background-color: #98F899;
  }

  .btn:hover {
    background-color: #E67447;
  }

  h2 {
    color: white;
    font-weight: 700;
  }

  .form-inputs {
    color: white;
  }

  a {
    text-decoration: none;
    color: #7e7e7e;
    margin-top: 50px;
  }

  a:hover {
    text-decoration: none;
    color: #E67447;
  }

  .form-text {
    color: #818080;
  }

  input {
    border-radius: 28px;
  }

}
