html {
  scroll-behavior: smooth;
}

.card-body {
  background-color: #393939;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  transition: transform 0.2s ease;
  margin-top: 5%;

  img.player-photo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    object-position: 50% top;
    margin-bottom: 9px;
  }

  .team-logo {
    width: auto;
    height: 40px;
    margin-right: 8%;
    background: none; /* No background */
    border: none; /* No border */
    border-radius: 0; /* This ensures the image is not circular */
  }

  .country-flag {
    width: auto;
    height: 40px;
    margin-left: 8%;
    border-radius: 50%; /* Keep this if you want the country flags circular */
  }
}


.container-index {
  max-width: 1790px;
  margin: 0 119px;
  margin-bottom: 100px;

  h1 {
    margin-left: 30px;
    justify-content: left;
  }
  #query {
    display: flex;
    justify-content: center;
  }
}

.card {
  margin: 0px auto;

  &:hover {
    transform: scale(1.1);
  }

  transition: all 0.3s;
}

.row h1{
  font:40px inter,bold;
  font-weight: bolder;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  color: rgb(255, 255, 255);
  margin-top: 2%;
}

.title h1 {
  margin: 0;
  font-size: 96px;
}

.row h1{
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

// card of player

.h-100 {
  border-radius: 28px;
  background: #393939;
  box-shadow: 0px 2px 50.1px -5px rgba(0, 0, 0, 0.25);
  width: 85%;
  min-height: 269px;
  text-align: center;

  h5 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Inter-Bold", Helvetica;
    margin-bottom: 4%;
    margin-top: 2%;
  }

  p {
    font-size: 20px;
    font-weight: 200;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 35px auto;
}


.search-container {
  position: relative;
}

.search-container input {
  display: flex;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 28px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 58px 12px 20px;
  width: 100%;
  margin-bottom: 50px;
}

.fa-magnifying-glass::before {
  content: "\f002";
  display: flex;
  width: 49.054px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  right: 5px;
  top: 40%;
  transform: translateY(-50%);
}

.search-button {
  background-color: transparent;
  border: none;
}
